GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

PINECONE_API_KEY=
PINECONE_INDEX_HOST=
PINECONE_NAMESPACE=tandil-props

HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
